.idea/
.claude/
.intellijPlatform/
out/
.precomp/

.kotlin/

currentDraftPluginVersion

# Gradle things
.gradle
.sandbox/
raku-idea-plugin/build/
raku-idea-plugin/.idea/
raku-idea-plugin/raku-idea-plugin.iml
*.iml

build/
.intellijPlatform/self-update.lock
